/* Codigo realizado por lizardo */
/* Estilos del login2 */
#container{
  background:linear-gradient(to top,rgba(255, 174, 0, 0.667),rgba(0, 191, 255, 0.58));
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(0px);

}